{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'boxicons/css/boxicons.min.css' %}">
    <link rel="shortcut icon" href="{% static 'img/icon.png' %}" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Chinyere Unamba{% block title %}{% endblock title %}</title>
</head>

<body>
    <div class="container">
        <nav>
            <div class="wrapper nav-links">
                <div class="button active">
                    <div class="icon">
                        <a href={% url 'home' %}>
                            <i class="bx bx-home"></i>
                            <span>Home</span>
                        </a>
                    </div>
                </div>
                <div class="button">
                    <div class="icon">
                        <a href="/#about">
                            <i class="bx bx-user"></i>
                            <span>About</span>
                        </a>
                    </div>
                </div>
                <div class="button">
                    <div class="icon">
                        <a href="/#services">
                            <i class="bx bx-server"></i>
                            <span>Services</span>
                        </a>
                    </div>
                </div>
                <div class="button">
                    <div class="icon">
                        <a href="/#portfolio">
                            <i class="bx bx-briefcase"></i>
                            <span>Works</span>
                        </a>
                    </div>
                </div>
                <div class="button">
                    <div class="icon">
                        <a href="/#contact">
                            <i class="bx bx-envelope"></i>
                            <span>Contact</span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="burger">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="line-3"></div>
        </div>
        {% block content %}

        {% endblock content %}
        {% include 'base/footer.html' %}
    </div>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            disable: 'mobile',
            offset: 200,
            duration: 700,
            easing: 'ease-in-quad',
            delay: 80,
            once: true

        });

        AOS.init({
            disable: function () {
                var maxWidth = 800;
                return window.innerWidth < maxWidth;
            }
        });
    </script>

</body>

</html>