{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Contact me{% endblock %}</title>
</head>

<body>
    {% block content %}
    <section id="contact-form">
        <div class="contact-form form">
            <div class="title">
                <h1 class="sec-title">Get In Touch</h1>
                <h1 class="invisible">Contact</h1>
            </div>
            <div class="content" style="max-width: 800px; width:100%">

                <form action="" method="POST">
                    {% csrf_token %}

                    <div class="form-input">
                        {{form.name}}
                    </div>
                    <div class="form-input">
                        {{form.email}}
                    </div>
                    <div class="form-input">
                        {{form.subject}}
                    </div>
                    <div class="form-input">
                        {{form.message}}
                    </div>

                    <div class="submit">
                        <button class="btn" type="submit"><i class="bx bx-send"></i>Send</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    {% endblock %}
</body>

</html>