{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Project</title>
</head>
<body>
    {% block content %}
    <div class="container" style="min-height: 100vh; color:white;">
        <form action="" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value={{ option }}>
        </form>
    </div>
{% endblock %}
</body>
</html>