{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} | {{option}}{% endblock title %}</title>
</head>

<body>
    {% block content %}
    <section>
        <div class="form">
            <h1 class="sec-title">{{option}}</h1>
            <h1 class="invisible">Works</h1>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-input">
                    <span><i class="bx bx-brain"></i></span>
                    {{form.title}}

                </div>
                <div class="form-input">
                    <span><i class="bx bx-text"></i></span>
                    {{form.headline}}

                </div>
                <div class="form-input">
                    <span><i class="bx bx-image"></i></span>
                    {{form.image}}

                </div>

                <div class="options">
                    <span><i class="bx bx-tag"></i></span>
                    <div class="checkbox">
                        {% for tag in form.tags %}
                        {{tag}}
                        {% endfor %}
                    </div>

                </div>
                <div class="form-input">
                    <span><i class="bx bxl-github"></i></span>
                    {{form.github}}
                </div>
                <div class="options">
                    <span><i class="bx bx-active"></i></span>
                    <div class="checkbox">
                        <label for="id_active">
                            {{form.active}} Active
                        </label>
                    </div>
                </div>

                <div class="form-input">
                    <span><i class="bx bx-body"></i></span>
                    {{form.body}}
                </div>
                <div class="form-input">
                    <span><i class="bx bx-slug"></i></span>
                    {{form.slug}}
                </div>

                <div class="submit">
                    <button type="submit" class="btn"><i class="bx bx-save"></i>Save Project</button>
                </div>
            </form>
        </div>
    </section>
    {% endblock %}

</body>

</html>