<footer>
    <div class="footer-link">
        <div class="button">
            <div class="icon">
                <a href="https://www.github.com/chinyereunamba">
                    <i class="bx bxl-github"></i>
                </a>
            </div>
        </div>
        <div class="button">
            <div class="icon">
                <a href="https://stackoverflow.com/users/13731134/chinyere-unamba">
                    <i class="bx bxl-stack-overflow"></i>
                </a>
            </div>
        </div>
        <div class="button">
            <div class="icon">
                <a href="https://www.linkedin/in/chinyereunamba">
                    <i class="bx bxl-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
    <small>Designed &amp; Built by Chinyere Unamba</small>
</footer>