{% extends 'base/base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} | Projects {% endblock %}</title>
</head>

<body>
    {% block content %}
    <section id="portfolio">
        <div class="work">
            <h1 class="sec-title">What I've built</h1>
            <h1 class="invisible">Works</h1>
            {% if request.user.is_authenticated %}

            <div class="create">
                <a href={% url 'createProject' %}>
                    <button class="btn"><i class="bx bx-file"></i>Create Project</button>
                </a>
            </div>
            {% endif %}
            <div class="content">

                {% for post in posts %}
                <div class="project">
                    <div class="text">
                        <a href="{% url 'viewProject' post.slug %}">
                            <h2>{{post.title}}</h2>
                        </a>
                        <p>{{post.headline}}</p>
                        <ul>
                            {% for tag in post.tags.all %}
                            <li>{{tag}}</li>
                            {% endfor %}
                        </ul>

                        <ul class="project-link">
                            <li><a target="_blank" href={{post.github}}><i class="bx bxl-github"></i></a></li>
                            {% if post.hosted_at != None %}
                            <li><a target="_blank" href={{post.hosted_at}}><i class="bx bx-link-external"></i></a></li>
                            {% else %}
                            {% endif %}
                            {% if request.user.is_authenticated %}
                            <li><a href={% url 'updateProject' post.slug %}> <i class="bx bx-edit"></i> </a></li>
                            <li><a href={% url 'deleteProject' post.slug %}> <i class="bx bx-trash"></i> </a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="img">
                        <a href="{% url 'viewProject' post.slug %}">
                            <img src={{post.image.url}} alt=""></a>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </section>
    {% endblock %}

</body>

</html>