{% extends 'base/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %} - {{post.title}}{% endblock title %}</title>
</head>

<body>
    {% block content %}
    <section>
        <div id="project">
            <div class="project">
                <div class="content">
                    <div class="img">
                        <img src={{post.image.url}} alt="{{post.title}}">
                    </div>
                    <h2>{{post.title}}</h2>
                    <div class="tags">
                        {% for tag in post.tags.all %}
                        <p>{{tag}}</p>
                        {% endfor %}
                    </div>
                    <div class="post-link project-link">
                        <a target="_blank" href={{post.github}} target="_blank"><i class="bx bxl-github"></i></a>
                        {% if post.hosted_at != None %}
                        <li><a target="_blank" href="{{post.hosted_at}}"><i class='bx bx-link-external'></i></a></li>
                        {% else %}
                        {% endif %}
                    </div>
                    <div class="post-content">
                        <div class="headline">
                            <p>{{post.headline}}</p>
                        </div>
                        <div class="post-body">
                            {{post.body|safe}}
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>

    {% endblock %}
</body>

</html>